.menu{
    background-color: var(--white-color);
    color: var(--prim-color);
    width: 100%;
    padding:auto 3rem;
    position: fixed;
    top:0; left: 0; right:0;
    /*box-shadow: 0 0.2rem 0.4rem var(--third-grey-color);*/
    z-index: 1;
}
.menu-content{
    margin: 0 5.5rem;
    height: 6rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.menu-content h1 {
margin: 0 3rem;
font-size: 2.3rem;
color: var(--prim-color);
border: 1px solid greenyellow;
    
    }
.menu-content h1 a{
color: inherit;
}
 
.lista{
margin: 0 3rem;
}
.lista ul{
    display: flex;
    list-style: none;
}
.lista ul li{
    justify-content: space-between;
    margin: 0 2rem;
    color: var(--prim-color);
}
.lista ul li a{
    display: block;
    color: var(--prim-color);
    font-weight: 400;
    font-size: 1.8rem;
    padding: auto 0;
    position: relative;
}
.lista ul li a::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.4rem;
    height: 0.2rem;
    width: 0;
    background: var(--sec-color);
    transition: all 250ms ease-out;
}
.lista ul li a:hover::after{
 width: 80%;
 left: 8%;
}
.close-menu{
    display: none;
}

/*space*/
.space {
    height: 6.5rem;
    padding: 0;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    margin: 0 auto;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 0.1rem solid var(--prim-color);
    color: var(--prim-color);
    transform: rotate(90deg);
}
.back-to-top:hover{
    background-color: var(--prim-color);
    border: 0.1rem solid var(--white-color);
    color: var(--white-color);
    animation: all 300ms ease-in-out;
}

@media ( max-width: 767px ){
    .menu{
        display: none;
        bottom: 0;
        text-align: center;
    }
    .space{
        display: none;
    }

    .menu-content{
        height: 100vh;
    }
    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
        margin: 5%;
    }
    .lista ul li{
        margin: 1rem;
    }
    .close-menu{
        position: fixed;
        z-index: 2;
        top: 0;left: 0;
    }
    .close-menu-label::after{
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 1rem;
        background-color: rgb(69, 69, 69);
        color: var(--white-color);
        font-size: 3.5rem;
        line-height: 3.5rem;
        width: 3.5rem;
        height: 3.5rem;
        text-align:  center;
        padding: 0.5rem;
        cursor: pointer;
    }
    .close-menu:checked~.menu{
        display: block;
    }
    .close-menu:checked~.close-menu-label::after{
        content: 'X';
        color: red;
    }
}